/* COLOR PALETTE: 
1. rgb(200, 205, 177), black, white 



*/


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 205, 177);
}

.body-about, .body-browse, .body-pricing, .body-checkout {
    background-color: black;
}






/* NAVBAR */

nav {
    /* border: 1px solid red; */
    top: 0;
    position: sticky;
    overflow: hidden;
    background-color:rgb(200, 205, 177);
    z-index: 1000;
}

nav * {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav h1 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
    letter-spacing: 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul {
    margin-left: auto;
}

nav ul * {
    font-size: 12px;
    margin-right: 1vw;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

/* Navbar Color */
.body-about nav, .body-browse nav, .body-pricing nav, .body-checkout nav{
    background-color: black;
}

/* Changes nav content color on hover */
.body-about nav a:hover, .body-browse nav a:hover, .body-pricing nav a:hover, .body-checkout nav a:hover, .body-about nav a:hover i, .body-browse nav a:hover i, .body-pricing nav a:hover i {
    color: rgb(200, 205, 177);
}

/* Keeps the color of nav content of current page */
.body-about a.nav-about, .body-browse a.nav-browse, .body-pricing a.nav-pricing, .body-checkout a.nav-checkout, .body-checkout i {
    color: rgb(200, 205, 177);
}

body.body-home nav a:hover i {
    color: black;
}

body.body-home nav a:hover {
    color: black;
}













/* HOME TAB */

.intro-message {
    
    transition: 0.5s ease-in-out;
}

.intro-description {
    
    transition: 0.5s ease-in-out;
}

.intro-browse {
    
    transition: 0.5s ease-in-out;
}

.section-home h1 {
    color: black;
    letter-spacing: 5px;
    font-size: 160px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 14vh;
    margin-bottom: 0;
}

.section-home h1, h3, h5 {
    text-align: center;
}

.section-home h1, h5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-home h5 {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    color: white;
    padding: 10px;
    font-weight: lighter;
}

.section-home h3 {
    margin-top: 10vh;
}

.section-home h3 a {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 12px;
    color: black;
    padding: 10px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    border: 1px solid black;
}

.section-home h3 a:hover {
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.body-home .section-about h1 {
    margin-top: 30vh;
    color: black;
}

.body-home .section-browse h1 {
    margin-top: 50vh;
    color: black;
}

.body-home .player iframe {
    display: inline-block;
    border: 5px solid black;
    border-radius: 30px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.body-home .player iframe:hover {
    border-color: white;
}


.body-home .section-pricing {
    margin-top: 30vh;
}
























/* ABOUT TAB */

.about-jful, .bio, .donate-text {
    
    transition: 0.5s ease-in-out;
}

.section-about h1, h3.bio {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-about h1 {
    color: rgb(200, 205, 177);
    margin-top: 10vh;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-about h3.bio {
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

.body-home h3.bio {
    color: black;
}

.section-about a.donate {
    text-decoration: none;
    
}

.section-about a.donate h3 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 1px white solid;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    transition: 0.2s ease-in-out;
}

.section-about a.donate h3:hover {
    background-color: white;
    color: black;
}
























/* BROWSE TAB */

.jful-x-eido-collection, .browse-thru, .browse-note {
    transition: 0.5s ease-in-out;
}

.section-browse {
    background-color: rgb(200, 205, 177);
}

.section-browse h1, h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-browse h1 {
    color: black;
    padding-top: 10vh;
    margin: 0;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-browse h3.browse-thru {
    color: black;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    width: 40vw;
    margin-top: 5vh;
}

.body-home .section-browse h3 {
    color: black;
}

.section-browse h3.browse-note {
    margin-top: 10vh;
}

.player {
    /* width: 40vw; */
    width: 80vw;
    margin-top: 5vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.iframe-container {
    display: inline-block;
    border: 5px solid rgb(200, 205, 177);
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    overflow: hidden;
    margin: 1vw;
}

.iframe-container:hover {
    border-color: black;
}

/* SONGS */

#meant-to-be-container, #you-want-container, #city-sounds-container {
    display: block;
    margin: 0;
}

#meant-to-be-overlay, #you-want-overlay, #city-sounds-overlay {
    display: none;
}


.iframe-overlay {
    color: rgb(200, 205, 177);
    margin: 0;
    background-color: black;
    width: 300px;
    height: 380px;
}

/* Plans */
.iframe-overlay a h3 {
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-right: 3vh;
    margin-left: 3vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: black;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.track-title, .review-pricing {
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    margin: 0;
}

.track-title {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: rgb(200, 205, 177);
    background-color: black;
}

.iframe-overlay a h3:hover {
    background-color: white;
    color: black;
}

.iframe-overlay h5 {
    color: white;
    transition: 0.2s ease-in-out;
}

.iframe-overlay h5:hover {
    color: rgb(200, 205, 177);
}

.add-to-cart, .view-cart {
    display: inline-block;
    background-color: rgb(200, 205, 177);
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.iframe-buttons {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.player .iframe-container a {
    margin-right: 25px;
    margin-left: 25px;
    transition: 0.2s ease-in-out;
}

.add-to-cart:hover, .view-cart:hover {
    color: white;
    background-color: black;
    border-color: white;
}

.player .iframe-container a {
    color: black;
}

.body-home .browse-thru a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    transition: 0.2s ease-in-out;
}

.body-home .browse-thru a:hover {
    color: white;
    border-color: white;
}





















/* PRICING TAB */

h3.instructions, h1.instructions {
    transition: 0.5s ease-in-out;
}

.section-pricing {
    background-color:rgb(200, 205, 177);
}

.section-pricing h1, h2, h3, h5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-pricing h1 {
    margin-top: 0;
    padding-top: 5vh;
    color: black;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-pricing div.instructions-and-chart {
    background-color: black;
    color: white;
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
}

.section-pricing h1.instructions {
    color: rgb(200, 205, 177);
    font-size: 80px;
}

.section-pricing div.instructions-and-chart h3.instructions {
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    width: 50vw;
}

.section-pricing a.paypal-icon {
    font-size: 80px;
    color: white;
    transition: 0.2s ease-in-out;
}

.section-pricing a.paypal-icon:hover {
    font-size: 80px;
    color: rgb(200, 205, 177);
}

.row {
    width: 90vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    
    transition: 0.5s ease-in-out;
}

.column-1, .column-2, .column-3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: inline-block;
    margin: 20px;
    width: 340px;
    border: solid rgb(255,255,255,0.2) 3px;
    border-radius: 30px;
    padding-bottom: 10vh;
    transition: 0.2s ease-in-out;
}

.column-1 h1, .column-2 h1, .column-3 h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 40px;
    text-align: left;
    margin-bottom: 0;
}

.column-1 h1.price-tag, .column-2 h1.price-tag, .column-3 h1.price-tag {
    color: rgb(200, 205, 177);
    text-decoration: underline;
    margin: 0;
}

.column-1 h2, .column-2 h2, .column-3 h2 {
    text-decoration: underline;
    color: white;
    font-family: 'Dosis', sans-serif;
    /* letter-spacing: 2px; */
}

.column-1 h3, .column-2 h3, .column-3 h3 {
    color: rgb(255,255,255,0.7);
    font-family: 'Dosis', sans-serif;
    text-align: left;
}

.exclusive-note {
    color: rgb(200, 205, 177);
    font-family: 'Dosis', sans-serif;
    width: 50vw;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.body-browse .exclusive-note {
    color: black;
    padding-bottom: 4vh;
}

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1:hover {
    border: 3px solid rgb(200, 205, 177);
}

.column-2:hover {
    border: 3px solid rgb(200, 205, 177);
}

.column-3:hover {
    border: 3px solid rgb(200, 205, 177);
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 80%;
}

    .player {
        width: 85vw;
}

    nav ul * {
        letter-spacing: 3px;
}
}




















/* CHECKOUT */

.section-checkout h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: rgb(200, 205, 177);
    margin: 0;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.cart {
    overflow: hidden;
    border: 3px solid rgb(200, 205, 177);
    border-radius: 30px;
    margin-top: 5vh;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cart .shopping-cart-items-and-icon {
    padding: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: lighter;
    color: rgb(200, 205, 177);
}

.cart ul {
    background-color: rgb(200, 205, 177);
    margin: 0;
    padding-left: 0;
    padding-top: 2vh;
    padding-bottom: 2vh;
    list-style: none;
    text-align: left;
    /* border: 1px solid rgb(200, 205, 177); */
}

.cart ul .added-item {
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
}

.cart li {
    border: 1px solid red;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 15px;
    overflow: hidden;
    
}

.item-div-left {
    float: left;
}

.item-div-left .item-name {
    margin-left: 1vw;
}

.item-div-right {
    float: right;
}

.item-div-right * {
    display: inline-block;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.item-div-right i {
    color: black;
}

.view-track, .item-div-right i {
    border: 1px solid red;
}

.cart .checkout-button {
    text-decoration: none
}

.cart .checkout-button h3 {
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    font-size: 20px;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid white;
    transition: 0.2s ease-in-out;
}

.cart .checkout-button h3:hover {
    background-color: rgb(200, 205, 177);
    border-color: rgb(200, 205, 177);
    color: black;
}

























/* CONTACT ME SECTION */

.section-home div.contact-info {
    background-color:rgb(200, 205, 177);
}

.section-home h1.reach-out-on {
    color: black;
}

.section-home div.social-media-icons a {
    color: black;
}

div.contact-info {
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    transition: 0.5s ease-in-out;
}

.body-home .contact-info {
    padding-top: 5vh;
    background-color: rgb(200, 205, 177);
}

.body-home .contact-info a, .body-home .reach-out-on {
    color: black;
}

h1.reach-out-on {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: center;
    letter-spacing: 5px;
    font-weight: lighter;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.social-media-icons {
    text-align: center;
    margin-top: 5vh;
}

div.social-media-icons a {
    color:rgb(200, 205, 177);
    letter-spacing: 10px;
    transition: 0.3s;
}

div.social-media-icons a:hover {
    color: white;
}