* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 194, 158);
}

.body-about, .body-browse, .body-pricing, .body-checkout {
    background-color: black;
}






/* NAVBAR */

nav {
    /* border: 1px solid red; */
    top: 0;
    position: sticky;
    overflow: hidden;
    background-color:rgb(216, 194, 158);
    z-index: 1000;
}

nav * {
    display: inline-block;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav h1 {
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
    letter-spacing: 7px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav ul {
    margin-left: auto;
}

nav ul * {
    font-size: 12px;
    margin-right: 1vw;
    letter-spacing: 3px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

/* Navbar Color */
.body-about nav, .body-browse nav, .body-pricing nav, .body-checkout nav{
    background-color: black;
}

/* Changes nav content color on hover */
.body-about nav a:hover, .body-browse nav a:hover, .body-pricing nav a:hover, .body-checkout nav a:hover, .body-about nav a:hover i, .body-browse nav a:hover i, .body-pricing nav a:hover i {
    color: rgb(216, 194, 158);
}

/* Keeps the color of nav content of current page */
.body-about a.nav-about, .body-browse a.nav-browse, .body-pricing a.nav-pricing, .body-checkout a.nav-checkout, .body-checkout i {
    color: rgb(216, 194, 158);
}

body.body-home nav a:hover i {
    color: black;
}

body.body-home nav a:hover {
    color: black;
}













/* HOME TAB */

.intro-message {
    
    transition: 0.5s ease-in-out;
}

.intro-description {
    
    transition: 0.5s ease-in-out;
}

.intro-browse {
    
    transition: 0.5s ease-in-out;
}

.section-home h1 {
    color: black;
    letter-spacing: 5px;
    font-size: 160px;
    font-family: 'Bebas Neue', cursive;
    margin-top: 14vh;
    margin-bottom: 0;
}

.section-home h1, h3, h5 {
    text-align: center;
}

.section-home h1, h5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-home h5 {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
    font-size: 14px;
    color: white;
    padding: 10px;
    font-weight: lighter;
}

.section-home h3 {
    margin-top: 10vh;
}

.section-home h3 a {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    font-size: 12px;
    color: black;
    padding: 10px;
    font-weight: bold;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    border: 1px solid black;
}

.section-home h3 a:hover {
    color: white;
    border: 1px solid white;
    font-weight: bold;
}

.body-home .section-about h1 {
    margin-top: 30vh;
    color: black;
}

.body-home .section-browse h1 {
    margin-top: 50vh;
    color: black;
}

.body-home .player iframe {
    display: inline-block;
    border: 5px solid black;
    border-radius: 30px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.body-home .player iframe:hover {
    border-color: white;
}


.body-home .section-pricing {
    margin-top: 30vh;
}
























/* ABOUT TAB */

.about-jful, .bio, .donate-text {
    
    transition: 0.5s ease-in-out;
}

.section-about h1, h3.bio {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-about h1 {
    color: rgb(216, 194, 158);
    margin-top: 10vh;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-about h3.bio {
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
}

.body-home h3.bio {
    color: black;
}

.section-about a.donate {
    text-decoration: none;
    
}

.section-about a.donate h3 {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    border: 1px white solid;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5vh;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 12px;
    transition: 0.2s ease-in-out;
}

.section-about a.donate h3:hover {
    background-color: white;
    color: black;
}
























/* BROWSE TAB */

.jful-x-eido-collection, .browse-thru, .browse-note {
    
    transition: 0.5s ease-in-out;
}

.section-browse h1, h3 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-browse h1 {
    color: rgb(216, 194, 158);
    margin-top: 10vh;
    margin-bottom: 0;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-browse h3 {
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    width: 40vw;
}

.body-home .section-browse h3 {
    color: black;
}

.section-browse h3.browse-note {
    margin-top: 10vh;
}

.player {
    /* width: 40vw; */
    width: 80vw;
    margin-top: 5vh;
    /* border: 1px solid red; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.player iframe {
    display: inline-block;
    border: 5px solid black;
    border-radius: 30px;
    margin: 10px;
    transition: 0.2s ease-in-out;
}

.player iframe:hover {
    border-color: rgb(216, 194, 158);
}





















/* PRICING TAB */

h3.instructions, h1.instructions {
    transition: 0.5s ease-in-out;
}

.section-pricing {
    background-color:rgb(216, 194, 158);
}

.section-pricing h1, h2, h3, h5 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-pricing h1 {
    margin-top: 0;
    padding-top: 5vh;
    color: black;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.section-pricing div.instructions-and-chart {
    background-color: black;
    color: white;
    padding-top: 5vh;
    padding-bottom: 10vh;
    text-align: center;
}

.section-pricing h1.instructions {
    color: rgb(216, 194, 158);
    font-size: 80px;
}

.section-pricing div.instructions-and-chart h3.instructions {
    color: white;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 2px;
    width: 50vw;
}

.section-pricing a.paypal-icon {
    font-size: 80px;
    color: white;
    transition: 0.2s ease-in-out;
}

.section-pricing a.paypal-icon:hover {
    font-size: 80px;
    color: rgb(216, 194, 158);
}

.row {
    width: 90vw;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    
    transition: 0.5s ease-in-out;
}

.column-1, .column-2, .column-3 {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    display: inline-block;
    margin: 20px;
    width: 340px;
    border: solid rgb(255,255,255,0.2) 3px;
    border-radius: 30px;
    padding-bottom: 10vh;
    transition: 0.2s ease-in-out;
}

.column-1 h1, .column-2 h1, .column-3 h1 {
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 40px;
    text-align: left;
    margin-bottom: 0;
}

.column-1 h1.price-tag, .column-2 h1.price-tag, .column-3 h1.price-tag {
    color: rgb(216, 194, 158);
    text-decoration: underline;
    margin: 0;
}

.column-1 h2, .column-2 h2, .column-3 h2 {
    text-decoration: underline;
    color: white;
    font-family: 'Dosis', sans-serif;
    /* letter-spacing: 2px; */
}

.column-1 h3, .column-2 h3, .column-3 h3 {
    color: rgb(255,255,255,0.7);
    font-family: 'Dosis', sans-serif;
    text-align: left;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-1:hover {
    border: 3px solid rgb(216, 194, 158);
}

.column-2:hover {
    border: 3px solid rgb(216, 194, 158);
}

.column-3:hover {
    border: 3px solid rgb(216, 194, 158);
}

/* Responsive layout - when the screen is less than 600px wide, make the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
      width: 80%;
}

    .player {
        width: 85vw;
}

    nav ul * {
        letter-spacing: 3px;
}
}




















/* CHECKOUT */

.section-checkout {
    color: white;
}

.section-checkout h1 {
    padding-top: 5vh;
    padding-bottom: 5vh;
    color: rgb(216, 194, 158);
    margin: 0;
    margin-bottom: 0;
    font-size: 80px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

.cart {
    overflow: hidden;
    border: 3px solid rgb(216, 194, 158);
    border-radius: 30px;
    width: 40vw;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.cart h3 {
    padding: 20px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: lighter;
    color: rgb(216, 194, 158);
}

.cart ul {
    list-style: none;
}


























/* CONTACT ME SECTION */

.section-home div.contact-info {
    background-color:rgb(216, 194, 158);
}

.section-home h1.reach-out-on {
    color: black;
}

.section-home div.social-media-icons a {
    color: black;
}

div.contact-info {
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    transition: 0.5s ease-in-out;
}

.body-home .contact-info {
    padding-top: 5vh;
    background-color: rgb(216, 194, 158);
}

.body-home .contact-info a, .body-home .reach-out-on {
    color: black;
}

h1.reach-out-on {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 5px;
    font-weight: lighter;
    color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.social-media-icons {
    text-align: center;
    margin-top: 5vh;
}

div.social-media-icons a {
    color:rgb(216, 194, 158);
    letter-spacing: 10px;
    transition: 0.3s;
}

div.social-media-icons a:hover {
    color: white;
}